/**
 * Darkmannn version of the basic prism theme
 */

code[class*='language-'],
pre[class*='language-'] {
  color: var(--color-black-mud);
  font-size: 1em;
  text-shadow: none;
  font-family: RobotoMono, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::selection,
code[class*='language-']::selection,
pre[class*='language-']::mozselection,
code[class*='language-']::mozselection {
  text-shadow: none;
  background: var(--color-white-mud);
}
@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: var(--color-white-mud);
}
:not(pre) > code[class*='language-'] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  color: var(--color-black-mud);
  background: var(--color-white-mud);
}
/*********************************************************
 * Tokens
 */
.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color-grey-mud);
}
.token.punctuation {
  color: var(--color-tan-mud);
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color-brown-mud);
}
.token.boolean,
.token.number {
  color: var(--color-red-mud);
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-green-mud);
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--color-tan-mud);
  background: var(--color-white-mud);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--color-brown-mud);
}
.token.function {
  color: var(--color-blue-mud);
}
.token.regex,
.token.important,
.token.variable {
  color: var(--color-green-mud);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
