/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoMono';
  src: url('/fonts/roboto-mono-variable-font.ttf') format('truetype');
}

/* Variables */
:root {
  /* Measurments */
  --header-height: 350px;
  --footer-height: 100px;

  --min-width: 300px;
  --max-width: 700px;

  --spinner-size: 40px;
  --border-width: 2px;
  --standard-padding: 5px;
  --standard-margin: 5px;

  /* Color palette */
  /* Primary - brand */
  --color-black-mud: #191919;
  --color-white-mud: #f1f1f1;
  --color-brown-mud: #534d44;
  --color-tan-mud: #908676;
  /* Secondary - support */
  --color-blue-mud: #528385;
  --color-green-mud: #818453;
  --color-red-mud: #8f6060;
  --color-grey-mud: #717171;
}

/* Defaults */
:root {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: var(--color-brown-mud);
}

a {
  font-weight: 500;
  transition: all 0.15s ease-in;
}
a:link {
  color: var(--color-tan-mud);
}
a:visited {
  color: var(--color-tan-mud);
}
a:hover {
  filter: brightness(0.7);
}
a:active {
  filter: brightness(0.7);
}
